@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    box-sizing: border-box;
    font-family: "inter",sans-serif;

}
.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.app-container h1{
    font-size: 18px;
    font-weight: 600;
    color: rgb(0, 140, 255);
}
.Qrimage{
   
    padding: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px gray;
}
.input-lable{
    display: block;
    margin-bottom: 10px;
    color:rgb(0, 140, 255);
    font-size: 15px;
    font-weight: 500;
}
input[type='text']{
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid rgb(0, 140, 255);
    border-radius: 5px;
}
button{
    padding: 15px 20px;
    color:white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition:background-color 0.3s;
}

.generate-button{
    background-color:rgb(0, 140, 255) ;
}
.generate-button:disabled{

    background-color:rgb(208, 209, 211) ;
    cursor: not-allowed;

}

.download-button{
    background-color:rgb(7, 143, 113) ;
    margin-left: 10px;
}
.download-button:hover{
    background-color:rgb(11, 196, 156) ;
}
.download-button:disabled{
    background-color:rgb(208, 209, 211) ;
    cursor: not-allowed;
    
}
.footer{
    margin-top: 30px;
    color:rgb(0, 140, 255)

}
